<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bài đọc hiểu tiếng Anh</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/reading_lesson.css')}}"
    />
    <script
      defer
      src="{{url_for('static', filename='js/reading_lesson.js')}}"
    ></script>
  </head>
  <body>
    <header>
      <h1>Bài nghe tiếng anh</h1>
    </header>

    <main>
      <!-- Container cho cả bài nghe và phần từ vựng -->
      <div id="content-container">
        <!-- Phần bên trái - bài nghe -->
        <div id="reading-container">
          <section id="reading-section">
            <h2>Bài nghe</h2>
            <article>
              <h2>{{listening.title}}</h2>
            </article>
            <audio controls src="{{listening.url}}"></audio>
          </section>

          <section id="questions-section">
            <h2>Câu hỏi</h2>
            <form
              action="/api/v1/listening/{{listening.id}}"
              method="post"
              id="quiz-form"
            >
              {% for question in listening.questions_listening %} {% set
              outer_loop = loop %}
              <div class="question">
                <p>
                  <strong>{{outer_loop.index}}. {{question.text}}</strong>
                </p>
                {% for answer in question.answers %} {% if submit_result != None
                and submit_result['' ~ question.id].answer_pick == answer.id and
                submit_result['' ~ question.id].is_correct == True %}
                <label style="background-color: springgreen">
                  {% if session[''~question.id] == '' ~ answer.id %}
                  <input
                    type="radio"
                    name="{{question.id}}"
                    value="{{answer.id}}"
                    checked
                  />
                  {% else %}
                  <input
                    type="radio"
                    name="{{question.id}}"
                    value="{{answer.id}}"
                  />

                  {{answer.text}} {% endif %}
                </label>
                {% elif submit_result != None and submit_result['' ~
                question.id].answer_pick == answer.id and submit_result['' ~
                question.id].is_correct == False %}
                <label style="background-color: red">
                  {% if session[''~question.id] == '' ~ answer.id %}
                  <input
                    type="radio"
                    name="{{question.id}}"
                    value="{{answer.id}}"
                    checked
                  />
                  {% else %}
                  <input
                    type="radio"
                    name="{{question.id}}"
                    value="{{answer.id}}"
                  />

                  {{answer.text}} {% endif %}
                </label>
                {% else %}
                <label>
                  {% if session[''~question.id] == '' ~ answer.id %}
                  <input
                    type="radio"
                    name="{{question.id}}"
                    value="{{answer.id}}"
                    checked
                  />
                  {{ answer.text }} {% else %}
                  <input
                    type="radio"
                    name="{{question.id}}"
                    value="{{answer.id}}"
                  />

                  {{ answer.text }} {% endif %}
                </label>
                <br />
                {% endif %} {% endfor %}
              </div>
              {% endfor %} {% if submit_result == None %}
              <button type="submit">Kiểm tra</button>
              {% else %}
              <button id="reset-reading" type="button">Làm lại</button>
              {% endif %}
            </form>
          </section>
        </div>
      </div>
    </main>

    <footer>
      <p>© 2025 Bài kiểm tra đọc hiểu</p>
    </footer>
  </body>
</html>
