<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Hỗ Trợ Reading</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/reading.css')}}"
    />
    <script
      defer
      src="{{url_for('static', filename='js/reading.js')}}"
    ></script>
  </head>
  <body>
    <h1>Hỗ Trợ Phần Reading</h1>

    <form>
      <div>
        <h2>Nhập Đoạn Văn</h2>
        <textarea
          id="passage"
          name="passage"
          rows="10"
          cols="50"
          placeholder="Nhập toàn bộ đoạn văn vào đây"
        ></textarea>
      </div>

      <div>
        <h2>Thông Tin Câu Hỏi</h2>
        <textarea
          id="questions"
          name="questions"
          rows="15"
          cols="50"
          placeholder="Nhập toàn bộ thông tin câu hỏi và các câu trả lời vào đây"
        ></textarea>
      </div>

      <div>
        <input id="button" type="submit" value="Xử Lý" />
      </div>
      <div>
        <input id="button-reset" type="reset" value="Làm mới" />
      </div>

      <div class="loader" id="loader">
        <div class="loader-spinner"></div>
        <p>Đang phân tích bài đọc...</p>
      </div>

      <div>
        <h2>Kết Quả</h2>
        <div id="result-box" name="result-box"></div>
      </div>
    </form>
  </body>
</html>
